body {
	margin:20px;
}

h1 {
  font-size: 1.5em;
}

#feed {
	margin:0;
	padding:0;
}

.date { 
	color:#666;
}

img {
  opacity: 0.4;
  padding: 7px; 
  width:180px;
  height: 180px;
}
img:hover {
	opacity: 1;
}